<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>结婚时间流程表：
12个月前 
与双方父母商量是否提前举办订婚仪式
确定订婚仪式举办的日期和地点
购买订婚时互相馈赠的礼品
购买订婚戒指
邀请双方的亲戚出席订婚仪式
举办订婚仪式

11个月前~9个月前 
双方家长见面以商量有关细节
算好新人生辰八字以决定结婚日期
草拟婚礼预算和计划邀请的人数
决定婚礼形式及婚礼举办的场所
开始收集举行结婚仪式的场所相关信息
现场考察所有自己选择的或意向要举办婚礼的场所，制作优劣对比表
预定宴客场地及席次
研究讨论新居的装修或居住事宜
开始装修新房

8个月前~6个月前 
排期办理注册手续或预定教堂
开始关注新娘婚纱的款式和婚纱摄影相关信息
讨论蜜月旅行的相关事宜 蜜月旅行信息收集
婚庆公司信息收集
预约婚前健康检查及辅导
与选定的婚庆公司确认婚礼方案
提前挑选家具、家电以及其他生活必需品

5个月前~4个月前 
检查新居的装修进度
讨论搬家的时间和相关事宜
拍摄婚纱照片
开始挑选适合的婚纱和礼服
如度身定制婚纱，应开始与设计师沟通并首次量身
如租借婚纱礼服，应提早挑选并落实预留
挑选、定制婚礼仪式现场所穿的礼服(不少于3套)
订购回礼礼物
与双方家人探讨、确认婚礼仪式的流程以及婚宴的安排
与婚礼举办场所的联系人最终确认仪式举办的时间
选定蜜月地点及行程 ( 如去国外则开始办理护照 ) ，并向公司请婚假

3个月前 
选择主持婚礼仪式的司仪(一般由婚礼场所提供)
与婚礼场所方联系人探讨婚礼仪式的装饰计划
确定邀请客人名单
草拟婚礼请贴上书写的内容
购买或订制婚礼请柬
确定仪式现场祝辞嘉宾名单并提前通知当事人
通知外地亲友，并未他们的到来安排交通住宿事宜
决定伴郎伴娘、兄弟姐妹团、花童花女的人选
选择并确认为新郎新娘做发型、化妆、美容的场所
为伴郎伴娘、花童花女及双方家长定制或选购礼服
选购婚戒和其他珠宝金饰及饰品

2个月前 
举行第一次婚礼筹委会会议，全面沟通婚礼事宜
预约好婚礼当天的化妆师、发型师及摄影师，并试妆、试发
准备嫁妆
购买全新的服装(内衣、外套、皮鞋等)
安排酒席试菜，确定婚宴所需的菜式
预订结婚蛋糕、婚宴餐酒
决定礼车以及摄影、摄像等相关人员(如果委托婚庆公司，可省略此步)
选定合适的花店订购花球、头花、襟花、会场及婚车用花
新房完成布置装潢，搬入新居
新娘开始保养皮肤

1个月前 
寄发喜帖
二次婚礼筹委会会议，详细确认所有成员及其负责项目
制定婚礼各项工作流程表、工作负责人联系表、婚礼物品及负责人清单
第二次礼服试身，准备合适的内衣和鞋子
撰写婚礼致词，与司仪沟通婚礼主持细节要求
购买结婚礼仪用品，如嘉宾题名册、利是封等
根据收到请柬回复的数量确定来宾的人数
拟定宾客名单，估计出席人数
安排到场宾客的桌次或座位次序
根据邀请名单的人数来确认婚宴的桌数，并确认酒水、饮料及香烟的数量

2周前 
婚礼筹委会最后阶段会议，再次确认婚礼各项工作安排，确定当日工作人员、司机、收礼金者、招待等
电话确定宾客人数并安排桌次
购买喜糖或喜饼
确认仪式最终的流程
确认婚礼仪式的礼服款式和套数(购买或制作)
准备新郎和新娘的答谢致词
了解婚礼进行中应注议的礼节
购买婚宴所需杂物，如糖果、瓜子、烟酒等

1周前 
定最后婚宴席数，宴客菜色
预算并安排各婚宴款项
准备红包袋,及宴客场地的所有文具
在家中张贴喜字,买鞭炮
男方选购行聘礼品
女方选购回礼礼物
向亲友及工作人员确认当日工作流程和内容
如去教堂需要准备结婚证书
开始收拾蜜月行装
作最后的全身美容美发护理
新人与各自工作单位做婚假时间最后确认并安排交接工作

1天前 
拿取婚纱及礼服，确认衣服首饰配套穿戴次序，定位放好
拿取所需鲜花
核对全部婚礼流程表格，确认物品齐全
提领明天要用的礼金和红包
预备食物招待陪嫁姐妹
提早睡觉，养足精神，少喝点水，明天结婚喽！

婚礼当天 
最后检查新郎、新娘应携带到现场的物品是否带齐
准备一笔应付超支费用的money 

婚礼后 
结算婚礼仪式场所的费用服务已就绪
清点收到的礼金总数，并记下赠送人的姓名和分别的礼金数量
电话告知外地未能到场的亲戚朋友你们结婚的喜讯
加印婚礼仪式的照片并邮寄给外地的亲戚</string>
	<string>结婚当天流程


　　一、准备工作

　　5：30 起床

　　7：00 新郎发型做好后到达女方娘家附近等待

　　7：45 新娘妆完成，通知新郎


　　二、婚车

　　6：30 开始扎彩车

　　7：30 彩车完成

　　7：45 专车送新娘回娘家（8：30前到达）

　　8：00之前副车全部到位

　　8：05车队集结完毕。在新郎的婚礼主管的引导下排车队，给车辆贴喜字，给司机分发喜袋。15分钟内完成。

　　7：30之前，新郎的朋友到位。婚礼主管再次明确当天的分工，检查当天各个阶段所需要的物品及数量。

　　8：00新郎更衣。摄像师、摄影师到达。


　　三、接新娘

　　8：00～8：20之间，婚礼主管，安排好哪些人跟过去接亲，都做些什么事情，带哪些东西，上哪几辆车，并在新郎下楼前，全部在自己的车边等候，新郎下楼后即可出发。在出门前，摄像师多半会给新郎安排个小仪式的。

　　8：28或者8：38左右从新郎家（新房）出发接新娘。

　　在路上行进中，只需主要整个车队保持好队型即可，车队中的车辆不要随意超车。车队的行进速度和行进线路，由摄像车来控制。

　　9：00～9：20前后，车队可到达新娘家，随新郎前来的朋友，帮助新郎一块敲门。一般在20～40分钟之内能开门，均属正常。如果两家相距较远，新娘家人应该安排好，不要闹得太久，以免影响后面的程序。

　　新郎进门后，按照南京的惯例，都得向新娘子献花的，在朋友们的参与下，说些好听的，也可以当着众多朋友的面，来一段爱情宣言。然后，在给新郎子戴上胸花后，向岳父岳母敬茶，这时候，老人家可以给一对新人提些要求，新郎官也得表个态。

　　10：00前后，新娘出门，多半是由自己的哥哥弟弟（或者远方的哥哥弟弟也可以的）背下楼——新郎这会就得把最大的那个红包拿出来了啊。通常是新娘脚不沾地，直接上车，到了车上，由新郎给新娘换鞋。

　　在回来的路上，摄像师一般要多拍些镜头的，整个车队行进中的镜头、主车中一对新人的镜头等等。这时候，所有的副车只需跟好主车即可，主车看着摄像车的提示行车即可。一般有2个方法可选择，第一，由摄像师或其助手打手势、用手机指挥，第二，结合面包车车灯进行指挥。二者均可。


　　四、迎新娘

　　10：20前后，车队到男方家 新人下车，放4个小礼炮。新郎抱新娘进门，小孩子滚床，伴娘准备好茶，新娘给男方父母敬茶，新郎新娘出发至酒店。


　　五、酒店准备

　　10：00 将糖、烟、酒、茶、饮料等带至酒店

　　10：10 最后检查酒席安排、音响、签到处等细节

　　10：30 准备好新郎新娘迎宾香烟火柴糖

　　10：45 彩带师到位酒店门口，酒店迎宾

　　10：50 新郎新娘到酒店，彩带

　　11：00 签到处人员就位

　　11：00 引导人员门口就位，新郎新娘伴郎伴娘门口迎宾


　　六、婚礼仪式

　　11：10 主持人准备，音响准备

　　11：15 伴娘再次检查结婚证书、戒指。 气球、彩带到位

　　11：20 音乐前奏乐起，烘托气氛。新人花拱门底下等待仪式开始，开始入场

　　主持人介绍

　　主婚人致词

　　证婚人宣读结婚证书

　　新人父母上台

　　新郎新娘交换戒指，三鞠躬

　　新人给父母敬茶

　　双方父母代表讲话

　　双方父母退场

　　第三者代表讲话

　　新人开香槟、切蛋糕、喝交杯酒

　　11：58 婚宴正式开始

　　12：10 新郎新娘退场、速食，新娘换礼服

　　12：18 新郎新娘逐桌敬酒

　　13：30宴席结束，宾客与新人合影


　　七、下午休息

　　14：00 宾客离开或到棋牌室娱乐

　　14：30 新郎新娘进餐、休息

　　14：30 清点所剩烟酒糖等

　　14：30 统计晚餐人数


　　八、晚餐

　　17：00 通知酒店晚餐准备数量

　　18：00 请宾客进晚餐

　　20：00 清点所有物品，离开酒店


　　九、闹洞房

　　21：00 开始闹洞房,节目自由发挥

　　22：30 宾客离开</string>
	<string>一、内地居民需要材料
(1)那女双方的户口本首页及本人页。如果是集体户口需要首页复印件并在户籍所在单位盖章;
(2)男女双方的身份证;
(3)三张2寸红底的两人合照照片;
二、香港居民、澳门居民、台湾居民应当带的材料
(1)有效的身份证及通行证;
(2)经居住地公证机构公证的本人无配偶以及与对方当事人没有直系血亲和三代以内旁系血亲关系的声明;
三、外国人应当出具下列证件和证明材料
(1)本人的有效护照或其他有效的国际旅行证件;
(2)所在国公证机构或有权机关出具的、经中国驻该国使领馆认证或该国驻华使领馆认证的本人无配偶的证明，或者所在国驻华使领馆出具的本人无配偶的证明。
四、华侨应当初出具下列证件和证明材料
(1)本人有效护照;
(2)居住过公证机构或有权机关出具的、经中国驻该国使领馆认证的本人无配偶以及与对方当事人没有直系血亲和三代以内旁系血亲关系的证明，或者中华人民共和国驻该国使领馆出具的本人无配偶以及与对方当事人没有直系血亲和三代以内旁系血亲关系的证明。</string>
	<string>正规的请柬遵循一套固定的用辞格式。婚礼办得越体面正式，结婚请柬就更应遵循正规的请柬套用模式： 

1.姓名用全称：不能用任何小名昵称或姓名的缩写。 

2.家庭成员的顺序写清。 

3.&quot;和&quot;字要出现。 

4.日期、星期、时间写清。 

5.年份不必出现在请帖上。 

6.在请帖一角附上婚宴的地点、时间顺序等或在卡里另附一页加以说明。 </string>
	<string>结婚的那一天是最重要的一天，新娘一定要美丽动人，但是不要过于粉饰。那么这里我们说说新娘的美容化装需要注意的方面有哪些。 

首先，在结婚的一个月以前，你应该去找美容师，请他们帮助你选择你所需要的化妆品，也请他们帮助你预先化一次妆，这样可以避免结婚当天你觉得化妆品和效果不好，头发也要请理发师先做一次看效果。 

然后，在结婚前的一个星期，你应该保养一下你的手，修剪指甲，每天涂抹一些护手膏，晚上临睡时多抹一些，再戴个棉布的手套睡觉，因为结婚当天很多人会看到你的结婚戒指，如果手粗糙就不雅观了。这段时间你还要修好眉毛，并清洁你的牙齿，如果你不经常穿高跟鞋，那么从现在开始每天在家试穿半小时，否则新鞋子在结婚当天会让你脚疼的。 

在结婚的前一天，你要修好指甲，然后涂抹指甲油，注意指甲油的颜色要和你的口红搭配好，要用同一色系的颜色，衣服和鞋子再试穿一次，不合适的地方还可以修改。 

结婚的当天，去化装之前，记得往眼睛里滴一些眼药水，可以使你的眼睛一天都保持明亮有神，吃东西的时候要小心饭菜里的油把口红化开。 

只要你这些地方准备的充分，您就可以做个美丽迷人的新娘了！</string>
	<string>1.家庭优先
你家里关系怎么样?如果姐妹或姑嫂关系好的话，为什么不请她们做伴娘呢?

2.不还人情
你完全没必要因为人家举行婚礼时请了你，这回你结婚也必须要请上她。

    
    3.地理因素
你要想好伴娘为你做什么。是单纯给你以精神支持呢，还是期望她们能成为你的得力助手，若是后者，那你可不要请那些住得很远或是忙得不可开交的朋友。因为她们可能不能帮你及时地做好这些事情
4.不要小气
不要觉得个别朋友可能买不起礼服就把她们排除在外。如果你想邀请的那位朋友恰好手头拮据，那你也可以自己掏钱给她们把礼服买好呀。
 
5.男性伴娘
伴娘不一定必须是女性。如果你的好友是位男性，不要立刻把他列为不合格人选。当前许多伴亲队伍中都有异性成员。在这种情况下，新娘这边的男性称做新娘伴郎，新娘那一方的女性称做新郎伴娘。
 
6.其它事务
你还要认识到你的好友在你婚礼上可以做其它的事情，比如朗诵诗歌，分发程序安排表或者让他们唱歌助兴等等。

7.发布消息
一旦决定好了伴娘名单，那就可以公布了。唯一糟糕的事就是被邀请了的同事理所当然地认为自己是要来作伴娘的。不要担心会伤害她的感情，真心真意的朋友终会理解你的任何决定。决定一经作出，就要马上在你那张似乎永无尽兴的结婚清单上划掉这一项。任务就是这样一项项来完成的。
伴娘可以说是一个婚礼工作组中的重要人物，每个区域，每个民族都会有自己特有的习俗，所以在选择伴娘时，一定要咨询当地的习俗，避免不必要的尴尬与误会。</string>
	<string>◇写一封信，记下你们对新生活的展望和梦想，并将它收藏起来。直至你们以后的岁月。如二十五周年纪念，一起打开它，看你俩生活是否如当初的祈望。

◇在请贴上印上路线图，让嘉宾们清楚的知道婚礼举行的正确位置。

◇为你们的怀念拟定一个主题吧！还有鲜花的配合是很重要的，要注意不同的鲜花有不同的特别意思。

◇婚礼的当天，可以为自己和伴侣喷上喜欢的香水，可使大家精神抖擞。

◇如果新婚夫妇喜欢打破传统，那么为自己拟订一份别开生面的讲词吧！

◇在会场内预备一间新娘房，可作新娘休息之用，也可存放首饰和衣服。

◇由新郎带领父母进入会场就坐，以示尊重。

◇请一位朋友或家属将你们初次见面的照片或录象带剪辑好，在会场中播放。

◇安排乐队献唱或在场中播放音乐。

◇当你和伴侣欢度蜜月旅行期间，不要忘记为父母带来惊喜——寄张明信片给他们吧！


喜宴上新人应酬技巧

喜宴通常在婚礼后举行，多半没有一定的程序，新娘通常要换3-5套不同的礼服，新人要注意来来往往的人，要敬酒、谢客、送客，所以多半都吃不到什么东东。关于喜宴上的一些应酬技巧你可要注意哟！

一、了解来宾背景

在喜宴前对来宾有个大概的了解是非常重要的，因为来的既有男方的朋友，也有女方的朋友，可能有一些是他们对方此前没有接触过的，所以事先对着请柬名册和相薄互相了解一番可大大避免在婚宴中产生尴尬的场面。

二、分析来宾的性格

宾客中有的性格外向，有的性格内向，不尽而一，对于他们应分别对待：外向的朋友尽可能与内向朋友相配而坐，最好是相识过的坐在同一桌，在婚宴中不要忘记内向的朋友，适时地与他们打个招呼，但不要过于着意于他们，例如强行敬酒等。

三、巧妙应付酒水仗

在婚宴中新郎新娘免不了要受到亲朋好友的敬酒，但一定要半推半就，开始的时候一定不能表现出杯杯都干的豪爽，否则零仃大醉不但会影响整个婚宴的进行，更坏了洞房的“好事”！所以在婚宴前就要做好准备，挑两个会喝且能说会道的伴郎伴娘做为挡箭牌，这可很重要哦！

四、携手应付娱乐节目

在婚宴的后段，一定少不了些小游戏做为插曲戏弄新人，这可是最难应付过去的一段时间。这时新人应该尽量表现出大方累落的样子，尽力迎合，即使有些较为三级的节目，如当众亲吻等，否则越扭捏，众人越会起哄，这段时节就是一个节目一个节目快点完成，越快越好，只要新人齐心协力，共渡人生第一个“患难”，便完成婚宴的历史使命了。</string>
	<string>喜宴通常在婚礼后举行，多半没有一定的程序，新娘通常要换3-5套不同的礼服，新人要注意来来往往的人，要敬酒、谢客、送客，所以多半都吃不到什么东东。关于喜宴上的一些应酬技巧你可要注意哟！ 

一、了解来宾背景 
在喜宴前对来宾有个大概的了解是非常重要的，因为来的既有男方的朋友，也有女方的朋友，可能有一些是他们对方此前没有接触过的，所以事先对着请柬名册和相薄互相了解一番可大大避免在婚宴中产生尴尬的场面。 

二、分析来宾的性格 
宾客中有的性格外向，有的性格内向，不尽而一，对于他们应分别对待：外向的朋友尽可能与内向朋友相配而坐，最好是相识过的坐在同一桌，在婚宴中不要忘记内向的朋友，适时地与他们打个招呼，但不要过于着意于他们，例如强行敬酒等。 

三、巧妙应付酒水仗 
在婚宴中新郎新娘免不了要受到亲朋好友的敬酒，但一定要半推半就，开始的时候一定不能表现出杯杯都干的豪爽，否则零仃大醉不但会影响整个婚宴的进行，更坏了洞房的“好事”！所以在婚宴前就要做好准备，挑两个会喝且能说会道的伴郎伴娘做为挡箭牌，这可很重要哦！ 

四、携手应付娱乐节目 
在婚宴的后段，一定少不了些小游戏做为插曲戏弄新人，这可是最难应付过去的一段时间。这时新人应该尽量表现出大方累落的样子，尽力迎合，即使有些较为三级的节目，如当众亲吻等，否则越扭捏，众人越会起哄，这段时节就是一个节目一个节目快点完成，越快越好，只要新人齐心协力，共渡人生第一个“患难”，便完成婚宴的历史使命了。</string>
	<string>婚礼中的喜宴是整个婚礼的压轴，喜宴好不好吃，对宾客是很重要的哦！而且如何可以让新人在预算中，办好喜宴，就让花嫁专家Angela提醒各位准新人吧！
　　订喜宴前，应该要先了解自己的预算，而且选定好日子，再来先设定好桌数，便可以开始准备找寻合适的喜宴。
　　订喜宴，可以依据预算及交通方便与否来选择合适的喜宴场所，同时也可以依照双方父母对喜宴的口味偏好，例如是以广东菜色或是台式菜色为主的料理为方向来加以选择宴席的菜色，有了以上这些选择的原则，再来就是订喜宴时要注意的事项了。
　　喜宴订席注意事项如下：
　　建议新人及家人可以亲自到现场了解、场地说明、菜色及价位说明，包括酒水、瓜子、糖果、香烟代办价等细节，还有餐厅会场还有提供哪些免费之设备，是否能够配合喜宴程序等，一起和喜宴会场的负责人一起讨论、菜色及价位说明，细部的了解停车问题及付款方式，一般说来，现在喜宴的餐厅通常会提供试吃的服务，但试吃不是免费的哦，只是比订价有些许折扣，若新人要了解宴席的内容，不妨可以试吃一下，先享受一下美食吧。
　　而在价格上，通常20桌以上都会有较多的折扣，而且会附送较多的果汁或水酒，所以新人不妨可以和喜宴餐厅谈谈，也许可以得到更多优惠哦！
　　通常喜宴一桌约等于6~7张喜帖，因此若要加减桌数要在七天前确定，且告知喜宴餐厅最后的桌数，同时也要事前告知喜宴当日注意事项以及同时将签名绸、收礼簿、相片、喜帐、谢卡等准备妥当。
　　另一方面，建议新人要提早安排收礼人员及招待，而且交办清点酒水、瓜子、糖果、香烟及开席桌数。
　　再来婚礼程序与餐厅人员事先协调、客人座次之控制、开席时间之掌握、敬酒方式之确定。
　　确定了喜宴内容及桌数，要记得签订合约书，以确保一些相关喜宴的细节，以免到时有任何的误差而有纠纷，在此特别提醒新人要注意。
　　以上是订喜宴时的一些提醒，供准新人们参考。</string>
	<string>婚礼新郎致辞(一)
 
　　尊敬的各位来宾：
 
　　大家好!
 
　　今天我由衷地开心和激动，因为我终于结婚了。一时间纵有千言万语却不知从和说起。但我知道，这万语千言最终只能汇聚成两个字，那就是“感谢”。
 
　　首先要感谢在座的各位朋友在这个美好的周末，特意前来为我和***的爱情做一个重要的见证，没有你们，也就没有这场，让我和我妻子终生难忘的婚礼。
　　其次，还要感谢***的父母，我想对您二老说，您二老把您们手上唯一的一颗掌上明珠交付给我这个年轻人保管，谢谢您们的信任，我也绝对不会辜负你们的信任，
 
但我要说，我可能这辈子也无法让您的女儿成为世界上最富有的女人，但我会用我的生命使她成为世界上最幸福的女人。
　　最后，我要感谢在我身边的这位在我看来是世界上最漂亮的女人。昨天上了一夜的网，网上说现在世界上男性人口是29亿8千万，我竟然有兴的得到了这29亿8千万
 
分之一的机会成为***的丈夫，29亿8千万分之一的机会相当于，一个人中500万的彩票连中一个月，但我觉得今生能和***在一起，是多少个500万的无法比拟的。
　　所以我想说，***谢谢你，谢谢你答应嫁给我这个初出茅庐，涉世不深的毛头小子。但是此时此刻，我的心里却有一丝深深的对你愧疚，因为我一直都没有告诉你，
 
再认识你之前和认识你之后，我还一直深深的爱着另一个女人，并且就算你我的婚姻，也无法阻挡**夜对她的思念，那个女人也来到了婚礼现场，亲爱的，她就是，我
 
的妈妈。
　　妈，谢谢您，谢谢您在28年前做出了一个改变了您一生的决定，您不惜用您的靓丽青春和婀娜身姿，把一个生命带到了这个世界，让他学知识，教他学做人，让他
 
体会到世界上最无私的爱，给了他世界上最温暖的家。
　　您告诉他做人要老实，您告诉他家的重要，可是这个小生命时常惹祸，惹您生气，让您为他二十几年来挂肚牵肠。几年前父亲的过世，更是让我体会到您在我生命
 
的重要，我也不会忘记我们在大洋的两岸，度过的那几千个思念得日日夜夜。现在，我想说，妈，辛苦您了，咱家好了，儿子长大了，儿子结婚了。您可以放心和高兴
 
吧，我很幸福，因为我遇上了这世界两位最最善良美丽女人。(此处应该有掌声哦!)
　　最后，不忘一句老话，粗茶淡饭，吃好喝好!
 
 
　婚礼新郎致辞(二)
 
　　各位来宾，朋友们，大家好!
　　首先要感谢在座的各位朋友在这个美好的周末，特意前来为我和的爱情做一个重要的见证，没有你们，也就没有这场，让我和我妻子终生难忘的婚礼。
　　其次，还要感谢的父母，我想对您二老说，您二老把您们手上唯一的一颗掌上明珠交付给我这个年轻人保管，谢谢您们的信任，我也绝对不会辜负你们的信任，但
 
我要说，我可能这辈子也无法让您的女儿成为世界上最富有的女人，但我会用我的生命使她成为世界上最幸福的女人。
　　最后，我要感谢在我身边的这位在我看来是世界上最漂亮的女人，现在世界上男性人口是亿千万，我竟然有兴的得到了这亿千万分之一的机会成为的丈夫，亿千万
 
分之一的机会相当于，一个人中万的彩票连中一个月，但我觉得今生能和她在一起，是多少个万的无法比拟的。所以我想说，谢谢你，谢谢你答应嫁给我这个初出茅庐
 
，涉世不深的毛头小子。
　　但是此时此刻，我的心里却有一丝深深的对你愧疚，因为我一直都没有告诉你，再认识你之前和认识你之后，我还一直深深的爱着两个人，并且就算你我的婚姻，
 
也无法阻挡我日夜对他们的思念，他们也来到了婚礼现场，亲爱的，他们就是，我的爸爸和妈妈。
　　爸妈，谢谢您二老，谢谢您二老在年前做出了一个决定，把一个生命带到了这个世界，让他学知识，教他学做人，您二老让他体会到世界上最无私的爱，您二老给
 
了他世界上最温暖的家，您二老告诉他做人要老实，您二老告诉他家的重要，可是这个小生命时常惹祸，惹您二老生气，让您二老为他二十几年来挂肚牵肠，现在，我
 
想说，爸妈，您二老辛苦了，咱家好了，儿子长大了，儿子结婚了。您二老可以放心和高兴了，我很幸福，因为我遇上了这世界两位最最善良美丽女人。
　　最后，再次感谢各位亲朋好友的光临，谢谢!
 
 
　　婚礼新郎致辞(三)
　
　　尊敬的各位来宾：
　　大家好!今天是我与***小姐结婚的大好日子!我感到十分地高兴同时也觉得非常的幸福!首先我要感谢名位百忙之中来参加我们的婚礼!对于你们的到来我们无比的荣
 
幸，有了你们来见证我们的婚礼，在以后的日子里我会对我的妻子倍加的关心和爱护，我会永远的爱她!并通过我们勤劳智慧的双手创造出一个幸福和谐满的家庭!!
　　借此机会，我还要感谢我们的父母对我们精心的培育，感谢名位领导的关心，感谢各位亲戚朋友的祝福!
　　祝各位：万事如意，心想事成!
　　今晚没啥好的招待大家,还望各位能吃好喝好!
　　谢谢大家!
 
 
　婚礼新郎致辞(四)
 
　　尊敬的各位来宾：
　　大家晚上好!
　　我现在的心情是万分的激动与开心 ，因为今天我结婚了。用上海话来讲：“今早我讨老婆了”。纵有千言万语我此时却不知从何说起。但我知道 ，这万语千言我
 
可以用两个字来表达 ，那就是“感谢”。
　　首先我要感谢各位来宾在这个美好的周末 ，特意前来为我与思齐的爱情做一个重要的见证 ，并承高浩先生证婚 ，让我们的婚礼终生难忘。
　　此时此刻 ，我要感谢思齐的爸爸、妈妈 ，谢谢你们对我的信任。将你们聪明、漂亮、温柔、可爱的女儿交付与我相伴终生。请你们相信 ，从今天起 ，她将成为
 
世界上最幸福的女人。因为 ，在与思齐从相识、相知、相恋、相爱 ，直至今天结为夫妻 ，我发现在生活中听老婆的话绝对是没错的。
　　我更要感谢我的父亲、母亲 ，感谢你们给予了我生命 ，教育我成人 ，并且将我从古都西安带到这美丽的城市——上海定居。没有你们就没有我今天 ，你们二老
 
辛苦了 ，让儿子在这里给你们鞠上一躬吧。
　　现在我感谢的是站在我身边 ，今夜最美丽的女人 ，我温柔体贴、聪明可爱的妻子。在多雨的天气里 ，她会在我的包里备上一把雨伞。在我业余时间读书进修时 
 
，她会静静的陪读在我身边。当我学习遇到困难之时 ，她更会助我一臂之力。有妻若此 ，夫复何求。思齐 ，我要对你说：我要疼你爱你一生一世!
　　最后不忘一句老话 ，粗茶淡饭 ，吃好喝好 ，俺的洞房号码：621 ，欢迎来闹 ，手下留情。谢谢大家!(同时鞠躬)
 
 
　　婚礼新郎致辞(五)
　　
　　各位亲朋好友：
　　大家好!
　　人生能有几次最难忘、最幸福的时刻，今天我才真正从内心里感到无比激动，无比幸福，更无比难忘。
　　今天我和心上人***小姐结婚，我们的长辈、亲戚、知心朋友和领导在百忙当中远道而来参加我俩婚礼庆典，给今天的婚礼带来了欢乐，带来了喜悦，带来了真诚的
 
祝福。借此机会，让我们俩再一次真诚地感谢父母把我们养育成人，感谢领导的关心，感谢朋友们的祝福。
　　也要感谢我的岳父岳母请你们相信，我会永远深深爱着我的妻子，并通过我们勤劳智慧的双手，一定会创造美满的幸福家庭。
　　最后，请大家与我们一起分享着幸福快乐的夜晚。
　　祝大家万事如意、梦想事成。谢谢!
 
 
　　婚礼新郎致辞(六)
　　最热的5月结婚月过去了，举办婚礼的人也少了一些，不过不妨碍我们为大家送上这些精美而用心的婚礼贺词。一则适合新郎官在结婚庆典上说的贺词，全文如下：
　　尊敬的各位来宾!大家好!
　　首先感谢各位亲朋好友在这个美好的日子，特意前来为我和 小姐的爱情做一个重要的见证，没有你们，也就没有这场让我们两个人终生难忘的婚礼，对各位亲朋好
 
友的光临我表示忠心的感谢，同时致以最崇高的敬意。(鞠躬)
　　人生能有几次最难忘最幸福的时刻，今天我要感谢我们的双方父母，多年来风风雨雨，历经坎坷，把我们养育成人，让我们体会到世界上最无私的爱，给了我们世
 
界上最温暖的家，是你们孜孜不倦的教诲，才有了我们的今天，感谢父母的养育之恩，感谢两位爸爸(鞠躬)、谢谢两位妈妈(鞠躬)。祝爸爸妈妈身体健康、工作顺利、
 
万事如意。
　　大学生活中我和我的新娘走到了一起，并一直走到婚礼的殿堂，感谢岳父岳母给予我一个温柔善良的新娘，请你们相信，我会用我的生命使她成为世界上最幸福的
 
女人，并通过我们勤劳智慧的双手，一定会创造出美满的幸福家庭。
　　再一次，感谢在坐的每一位朋友，流水不因石而阻，友谊不因远而疏，珍惜不易之缘，千言万语最终只能汇聚成两个字，那就是“感谢” ，请大家和我们一起分享
 
这幸福快乐的时刻，祝大家工作顺利、万事如意、梦想成真，谢谢。(鞠躬)。
 
 
　婚礼新郎致辞(七)-经典版
　　
　　第一次结婚，实在太激动了(笑声)，简单说两句。虽然是第一次结婚，但是还是深有感触的。结婚这件事情，乐的是新人，累的是亲人，二十多年来为我们两个含
 
辛茹苦的4位老人，在最近一段时间里，为了我们的婚事劳苦奔波，鬓边又添白发，我内心深感愧疚，充满感激。
　　说到这，我想我今天所有的千言万语都可以汇聚成两个字，那就是感谢!
　　首先要感谢在座的各位嘉宾，在这个美好的日子，来为我和彭天燕的爱情做一个重要的见证，没有你们，也就没有这场让我和我妻子终生难忘的婚礼。
　　感谢张**的父母，感谢您二老把唯一的一颗掌上明珠交付给我这个年轻人保管，谢谢你们的信任，我也绝不会辜负你们的信任，我想说的是，我可能这辈子也无法
 
让您的女儿成为世界上最富有的女人，但我会用我的生命使她成为世界上最幸福的女人。
　　我还要感谢我的爸爸妈妈!二十六年前，是他们，把一个小生命带到了这个世界，让他学知识，教他学做人，让他体会到世界上最无私的爱，给了他世界上最温暖的
 
家;是他们，告诉他老老实实做人、踏踏实实做事的道理，告诉他家的重要，可是这个小生命时常惹祸，惹他们生气;等他长大了，又求学在外，工作在外，让他们为他
 
牵肠挂肚。二十六年来，第一次有这样的机会说这样的话，亲爱的爸爸妈妈，谢谢你们(鞠躬、掌声、哭声)!
　　在这里，我还要感谢我们的主婚人，没有您，就没有今天婚礼的庄严与神圣，感谢我们的主持人，没有您，就没有今天婚礼的欢声与笑语，最后，再一次感谢今天
 
的所有嘉宾以及二十几年来帮助、支持过我的所有人，愿你们一生平安!
 
 
　婚礼新郎致辞(八)——婚礼感恩藏头诗之答谢父母
　　在婚礼上，答谢父母是必要的，也是应该的。如果用一首藏头诗来表达对父母的谢意以及感激之情再合适不过了。全文如下：
　　母女情深意悠悠
　　爱心满怀情真切
　　如今儿女已长大
　　天作之合结良缘
　　父子共饮喜庆酒
　　爱深似水暖意浓
　　如愿嫁娶了心愿
　　山盟海誓甜如蜜
　　感谢双亲赐生命
　　恩重如山铭心间
　　父亲叮咛已牢记
　　母亲嘱托永存心
　　这是一首藏头诗。把每句诗的第一个字连起来就是：母爱如天，父爱如山，感恩父母。</string>
</array>
</plist>
